* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: black;
}

.container {
  max-width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock h1 {
  color: rgb(34, 34, 34);
  font-size: 3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.beer {
  color: red;
  text-shadow: rgb(255, 52, 52) 1px 0 10px;
}

.on {
  color: greenyellow;
  text-shadow: rgb(139, 246, 104) 1px 0 10px;
}

/* testing */
.playlist {
  text-align: center;
  margin: 0 auto 200px auto;
  width: 53%;
  padding: 20px;
  border: 1px white solid;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 20px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

li:hover {
  background-color: #181818;
}

#play-pause-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#play-pause-button:hover {
  background-color: #d5d5d5;
}

.hidden {
  display: none;
}

/* phones */

@media only screen and (max-width: 500px) {
  .container {
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 200px auto 50px auto;
  }
  .clock h1 {
    font-size: 4.5vw;
  }
  .playlist {
    text-align: center;
    margin: 5px auto 200px auto;
    width: 80%;
  }
  .clock {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
